<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: resources}">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Home</title>
</head>
<body>

<nav th:replace="~{fragments :: header(link)}"></nav>


<h1 class="text-center">
    Best of the year by <span th:text="${myName}"></span>
    <figure class="d-inline"><img style="max-width: 60px" th:src="@{logo.png}"></figure>
</h1>

<ul>
    <li>
        <a th:href="@{song/}">Songs</a>
    </li>

    <li>
        <a th:href="@{movie/}">Movies</a>
    </li>
</ul>

</body>
</html>