<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>movieIndex</title>
</head>
<body>
<h3>Lista dei film:</h3>
<ul>
    <li th:each="movie : ${myMovies}">
        <a th:href="@{${movie.id}}" th:text="${movie.title}"></a>
    </li>
</ul>
</body>
</html>